<!-- <tbody class="w-full  table">
    <tr>
        <td><img src={{countryInfo()?.flagPng}} width="220px" height="220" alt={{countryInfo()}} class="m-auto"></td>
    </tr>
    <tr>
        <td class="text-center text-2xl">{{countryInfo()?.name}}</td>
    </tr>
    <tr>
        <td class="text-center text-xl">Capital: {{countryInfo()?.capital}}</td>
    </tr>
    <tr>
        <td class="text-center text-xl">Bandera: {{countryInfo()?.flag}}</td>
    </tr>
    <tr>
        <td class="text-center text-xl">Poblacion: {{countryInfo()?.population}}</td>
    </tr>
</tbody> -->

<div class="hero bg-base-200 min-h-screen">
    <div class="hero-content flex-col">

        <div class="flex justify-center items-center w-full shadow-2xl">
            <div class="flex flex-col items-center gap-2">
                <img src={{countryInfo()?.flagPng}} class="w-50" alt={{countryInfo()?.name}}>
                <span>{{countryInfo()?.name}}</span>
            </div>
            <div class="flex">
                <div class="divider divider-accent divider-horizontal min-h-50 divider-default"></div>
            </div>
            <div class="flex flex-col items-center gap-2">
                <img src={{countryInfo()?.coatArms}} class="w-45" alt={{countryInfo()?.name}}>
                <span>Escudo</span>
            </div>
        </div>
        <div class="stats shadow">
            <div class="stat place-items-center">
                <div class="stat-title">Capital</div>
                <div class="stat-value text-primary">{{countryInfo()?.capital}}</div>
                <div class="stat-desc">Lat.Lon: {{countryInfo()?.latLng}}</div>
            </div>

            <div class="stat place-items-center">
                <div class="stat-title">Población</div>
                <div class="stat-value text-secondary">{{countryInfo()?.population | number}}</div>
                <div class="stat-desc">{{dateCurrent()}}</div>
            </div>

            <div class="stat place-items-center">
                <div class="stat-title">Area</div>
                <div class="stat-value text-info">{{countryInfo()?.area | number}}</div>
                <div class="stat-desc">Km²</div>
            </div>
            <div class="stat place-items-center">
                <div class="stat-title">Continente</div>
                <div class="stat-value">{{countryInfo()?.continents}}</div>
                <div class="stat-desc">{{countryInfo()?.subRegion}}</div>
            </div>

        </div>
        <span class="text-2xl text-emerald-500">Traslations</span>
        <div class="flex gap-2">
            <div class="badge badge-outline badge-primary">{{countryInfo()?.traslation?.['ara']?.['common']}}</div>
            <div class="badge badge-outline badge-secondary">{{countryInfo()?.traslation?.['jpn']?.['common']}}</div>
            <div class="badge badge-outline badge-accent">{{countryInfo()?.traslation?.['spa']?.['common']}}</div>
            <div class="badge badge-outline badge-info">{{countryInfo()?.traslation?.['swe']?.['common']}}</div>
            <div class="badge badge-outline badge-success">{{countryInfo()?.traslation?.['rus']?.['common']}}</div>
            <div class="badge badge-outline badge-warning">{{countryInfo()?.traslation?.['por']?.['common']}}</div>
            <div class="badge badge-outline badge-error">{{countryInfo()?.traslation?.['fra']?.['common']}}</div>
        </div>
    </div>
</div>